@import 'dashboard/assets/scss/app';

*,
::before,
::after {
  --_histoire-color-primary-50: 251 250 248;
  --_histoire-color-primary-100: 247 243 237;
  --_histoire-color-primary-200: 240 226 209;
  --_histoire-color-primary-300: 227 192 150;
  --_histoire-color-primary-400: 217 168 109;
  --_histoire-color-primary-500: 208 148 75;
  --_histoire-color-primary-600: 191 129 54;
  --_histoire-color-primary-700: 164 113 51;
  --_histoire-color-primary-800: 112 80 41;
  --_histoire-color-primary-900: 76 53 26;
}

html,
body {
  font-family: 'Inter', sans-serif;
}
